body{
    width: 100vw;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(211, 235, 233);
    
}

.pressed{
    box-shadow: 0 3px 4px 0 #232627;
    opacity: 0.5;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 0 rgb(240, 217, 240);
}
p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    text-shadow:2px 0 #FFD230;
}
.container{
    margin-left:15px ;
}
.key{
    width: 30px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    box-shadow: 1px 0 rgb(54, 53, 53);
    border-radius: 3px;
}
.key:hover{
    background-color: #FFD230;
    opacity: 0.2;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
    color: #FFD230;
}
.golden{
    background-color:#FFD230;
}
footer{
    text-align: center;
}
@media(max-width:1500px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 70px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 53px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1476px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 70px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 52px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1451px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 70px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 51px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1426px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 50px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1401px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 49px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1377px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 48px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1351px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 47px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1327px){
    h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 46px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1302px){
    h1{
        text-align: center;
        font-size: 49px;
        margin-bottom: 40px;
        margin-top: 45px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 55px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 45px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1277px){
    h1{
        text-align: center;
        font-size: 49px;
        margin-bottom: 40px;
        margin-top: 45px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 55px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 44px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1252px){
    h1{
        text-align: center;
        font-size: 49px;
        margin-bottom: 40px;
        margin-top: 45px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 43px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1227px){
    h1{
        text-align: center;
        font-size: 49px;
        margin-bottom: 40px;
        margin-top: 45px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 60px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 42px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1202px){
    h1{
        text-align: center;
        font-size: 45px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 38px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 41px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1177px){
    h1{
        text-align: center;
        font-size: 45px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 38px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 40px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1152px){
    h1{
        text-align: center;
        font-size: 44px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 39px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1127px){
    h1{
        text-align: center;
        font-size: 44px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 38px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1102px){
    h1{
        text-align: center;
        font-size: 43px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 35px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 37px;
        height: 370px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1078px){
    h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 28px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 32px;
        margin-bottom: 28px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 36px;
        height: 310px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1052px){
    h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 28px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 32px;
        margin-bottom: 28px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 35px;
        height: 310px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1027px){
    h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 28px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 32px;
        margin-bottom: 28px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 34px;
        height: 310px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
@media(max-width:1004px){
    h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 28px;
        margin-top: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 32px;
        margin-bottom: 28px;
        text-shadow:2px 0 #FFD230;
    }
    .container{
        margin-left:5px ;
        gap: 1px;
    }
    .key{
        width: 33.5px;
        height: 310px;
        border: 1px solid black;
        display: inline-block;
        box-shadow: 1px 0 rgb(54, 53, 53);
        border-radius: 3px;
        
    }
}
