body{
    width: 100vw;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(211, 245, 233);
    
    
}
h1{
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 0 rgb(240, 217, 240);
}
p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 25px;
    text-shadow:2px 0 #FFD250;
}
.container{
    margin-left:15px ;
}
.key{
    width: 30px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    box-shadow: 1px 0 rgb(54, 53, 53);
    
}
.white{
    background-color: white;
}
.black{
    background-color: black;
    color: #FFD250;
}
.golden{
    background-color:#FFD250;
}
@media(max-width:1440px){
    h1{ 
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 52px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1463px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 30px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 51px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1437px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 30px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 44px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1415px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 30px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 49px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1250px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 49px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1386px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:0px ;
    }
    .key{
        width: 49px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1371px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 48px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1361px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 48px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1251px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:15px ;
    }
    .key{
        width: 47px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1336px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:0px ;
    }
    .key{
        width: 47px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1321px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 44px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:10px ;
    }
    .key{
        width: 46px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1306px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:10px ;
    }
    .key{
        width: 45px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1281px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:0px ;
    }
    .key{
        width: 45px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1271px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:10px ;
    }
    .key{
        width: 44px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1256px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:10px ;
    }
    .key{
        width: 43px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1231px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:10px ;
    }
    .key{
        width: 42px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1206px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:10px ;
    }
    .key{
        width: 41px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1181px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:20px ;
    }
    .key{
        width: 40px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1166px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 40px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1151px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 39px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1126px){
    h1{ 
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 38px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1101px){
    h1{
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 37px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1076px){
    h1{
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 36px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1051px){
    h1{
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 25px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1025px){
    h1{
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 34px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:1001px){
    h1{
        font-size: 44px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 39px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 33px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:976px){
    h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 32px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:951px){
    h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 31px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:951px){
    h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 31px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:927px){
    h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .container{
        margin-left:5px ;
    }
    .key{
        width: 30px;
        height: 250px;
        border: 1px solid black;
        display: inline-block;
        
    }
}
@media(max-width:915px){
    .container{
        margin-left:10px ;
    }
}
@media(max-width:906px){
    .container{
        margin-left:5px ;
    }
}
@media(max-width:901px){
    .container{
        margin-left:0px ;
    }
}
@media(max-width:896px){
    .container{
        margin-left:15px ;
    }
    .key{
        width: 29px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:888px){
    .container{
        margin-left:10px ;
    }
    h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: 2px 0 rgb(240, 217, 240);
    }
    p{
        text-align: center;
        font-size: 30px;
        margin-bottom: 25px;
        text-shadow:2px 0 #FFD250;
    }
    .key{
        width: 29px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:882px){
    .container{
        margin-left:5px ;
    }
    .key{
        width: 29px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:877px){
    .container{
        margin-left:0px ;
    }
    .key{
        width: 29px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:871px){
    .container{
        margin-left:10px ;
    }
    .key{
        width: 28px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:856px){
    .container{
        margin-left:0px ;
    }
    .key{
        width: 28px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:846px){
    .container{
        margin-left:15px ;
    }
    .key{
        width: 27px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:836px){
    .container{
        margin-left:10px ;
    }
    .key{
        width: 27px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:831px){
    .container{
        margin-left:0px ;
    }
    .key{
        width: 27px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:831px){
    .container{
        margin-left:15px ;
    }
    .key{
        width: 26px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:812px){
    .container{
        margin-left:0px ;
    }
    .key{
        width: 26px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:796px){
    .container{
        margin-left:15px ;
    }
    .key{
        width: 25px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}
@media(max-width:786px){
    .container{
        margin-left:0px ;
    }
    .key{
        width: 25px;
        height: 200px;
        border: 1px solid black;
        display: inline-table;
        justify-content: space-between;
        
    }
}